services:
  mongo:
    image: mongo
    restart: always
    volumes:
      - mongodata:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  server:
    build:
      context: ./server
    ports:
      - 8081:8081
    environment:
      NODE_ENV: development
    command: npm run start

  client:
    build:
      context: ./client
    ports:
      - 3000:3000
    environment:
      NODE_ENV: development
    command: npm run start

volumes:
  mongodata:
    external: true



