services:
  mongo:
    image: mongo
    restart: always
    volumes:
      - mongodata:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  server:
    image: node:20-alpine
    volumes:
      - ./server:/usr/src/app
    working_dir: /usr/src/app
    ports:
      - 8081:8081
    environment:
      NODE_ENV: development
    command: sh -c "npm install && npm run start"

  client:
    image: node:20-alpine
    volumes:
      - ./client:/usr/src/app
    working_dir: /usr/src/app
    ports:
      - 3000:3000
    environment:
      NODE_ENV: development
    command: sh -c "npm install && npm run start"

volumes:
  mongodata:
    external: true



